.wrapper {
  display: grid;
  grid-template-columns: 5fr 6fr;
  justify-content: center;
  align-items: center;
}

.userPhoto {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  h2 {
    margin: 1rem 0;
    font-size: 4rem;
  }
}
